@{
    Layout = "_ErrorLayout";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-body text-center">
            <h1 class="display-4">Error @ViewBag.Status</h1>
            <p class="lead">@ViewBag.Message</p>
            <a href="/" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>