@model IEnumerable<TransferCenterWeb.Models.GlobalPatientTransfer.GlobalPatientTransferRequest>


<div class="d-flex justify-content-between align-items-center mb-4">
    <!-- Left: Page Title -->
    <h2 class="mb-0 text-center text-kpc">Global Patient Transfer Report</h2>
</div>


<section class="container-fluid">

    @{
        var details = Model.ToList().Select(x => x.PatientTransferInfo).ToList();
        @await Html.PartialAsync("PatientTransferList", details)
    }

</section>