@model IEnumerable<TransferCenterWeb.Models.GlobalPatientTransfer.GlobalPatientTransferRequest>


<div class="d-flex justify-content-between align-items-center mb-4">
    <!-- Left: Page Title -->
    <h2 class="mb-0 text-center text-kpc">Patient Transfer Report</h2>

    <!-- Right: Button group (Add, Export Excel, Export PDF) -->
    <div class="btn-group" role="group" aria-label="Actions">
        <!-- Add New -->
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> 
        </a>

        <!-- Export to PDF -->
        <a asp-action="ExportPdf" class="btn btn-danger" title="Export to PDF">
            <i class="bi bi-file-earmark-pdf"></i>
        </a>
    </div>
</div>


<section class="container-fluid">

    @{
        var details = Model.ToList().Select(x => x.PatientTransferInfo).ToList();
        @await Html.PartialAsync("PatientTransferList", details)
    }

</section>