@model TransferCenterWeb.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="">
    <div class="row justify-content-center">
        <div>
            <div class="card shadow-lg border-0 rounded-lg bg-transparent ">
                @* <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">Sign In</h3>
                </div> *@
                <div class="card-body">
                    <div class="card shadow-sm rounded-4 p-4" style="margin: auto;">
                        <form asp-action="Login" method="post" autocomplete="off" novalidate>
                            @Html.AntiForgeryToken()
                            @* <img src="~/favicon.png" alt="KPC" class="img-fluid" style="max-height: 100px; margin-left:20%"> *@
                            <div class="text-center mb-4">
                                <img src="~/favicon.png" alt="KPC Group Logo" class="img-fluid" style="max-height: 80px;" />
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                            <div class="form-floating mb-3">
                                <input asp-for="LoginId" class="form-control rounded-3" placeholder="Login ID" />
                                <label asp-for="LoginId">Login ID</label>
                                <span asp-validation-for="LoginId" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Password" type="password" class="form-control rounded-3" placeholder="Password" />
                                <label asp-for="Password">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-check mb-4">
                                <input asp-for="RememberMe" class="form-check-input" id="rememberMeCheck" />
                                <label asp-for="RememberMe" class="form-check-label" for="rememberMeCheck">Remember Me</label>
                            </div>

                            <button type="submit" class="btn btn-primary w-100 py-2 rounded-3 shadow-sm">
                                Login
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
